# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
# Change these settings to your own preference
indent_style = space
indent_size = 4

# We recommend you to keep these unchanged
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
# Python specific settings
max_line_length = 120

[*.md]
# Markdown specific settings
trim_trailing_whitespace = false
max_line_length = 80

[*.yaml]
# YAML specific settings
indent_size = 2

[Makefile]
# Makefile specific settings
indent_style = tab

[*.json]
# JSON specific settings
indent_size = 2